html,
body
	height: 100%

body
	min-width: 320px
	background: $black
	+f('light', 20, 22)

.out
	overflow: hidden
	min-height: 100%

.inner
	position: relative
	z-index: 10
	margin: 0 auto
	max-width: 980px
	+clr
	+lg
		max-width: 700px
	+md
		max-width: 500px

//typography
h1, h2, h3, h4, h5, h6, strong, b, cite, th, i, em
	font-weight: normal
	font-style: normal

a
	color: inherit
	text-decoration: none