.show
	padding: 120px 0 0
	+lg
		padding: 100px 20px 0
	&__title
		margin-bottom: 20px
		max-width: 720px
		color: $white
		+f('light', 42, 44)
		+lg
			margin-bottom: 30px
			max-width: 440px
			+f(null, 50, 52)
		+sm
			max-width: 340px
			+f(null, 32, 36)
		em
			display: block
			color: $yellow
			+f('med')
	&__decor
		margin-bottom: 70px
		+lg
			margin-bottom: 50px