<!-- begin benefits  -->
<div class="benefits">
	<div class="benefits__bg" style="background-image: url(img/benefits.jpg);"></div>
	<div class="benifits__inner">
		<div class="inner">
			<div class="benefits__title">
				<em>Benefits of&nbsp;Adopting</em>
				<span>an Organizational Structure Chart</span>
				{{mixins.icon('title-arr')}}
			</div>
			{% set benefits = [
				{
					icon: 'connect',
					text: 'The work of 1 who is "responsible for everything" is broken down into individual jobs (points of responsibility) and assigned to employees wishing to grow and take on more responsibility'
				},
				{
					icon: 'communication',
					text: 'The company stops depending on "star employees" and can replace any individual at once, though no one wants to leave as promotions unfold in front of them!'
				},
				{
					icon: 'target',
					text: 'The Organizational Structure Chart shows employees who to contact and on what issues, respective to their positions and responsibilities, so there is no confusion and delays.'
				},
				{
					icon: 'time',
					text: 'All business procedures accelerate 2-3x'
				},
				{
					icon: 'schedule',
					text: "The owner's time spent on routine matters is practically eliminated and they can spend that time on management and strategy alone."
				}
			] %}
			<ul class="benefits__list">
				{% for item in benefits %}
					<li class="benefits__item">
						<div class="benefits__icon">
							{{mixins.icon(item.icon)}}
						</div>
						<div class="benefits__text">{{item.text}}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<!-- end benefits -->