<!-- exhibiting -->
<section class="exhibiting exhibiting_yellow">
	<div class="exhibiting__wrap">
		<div class="exhibiting__serial-number"><img src="./img/01.svg" alt="img"></div>
		<div class="exhibiting__inner inner">
			<div class="exhibiting__left">
				<h3 class="exhibiting__title">
					<span>Is your business exhibiting the following “symptoms?”</span>
					{{ mixins.icon('title-arr') }}
				</h3>
				<ul class="exhibiting__list">
					<li class="exhibiting__item">Your employees blame one another <br>when anything goes wrong.</li>
					<li class="exhibiting__item">Your employees waste time sorting out <br>who should carry out a certain task.</li>
					<li class="exhibiting__item">Some jobs never get done because it’s always “someone else's’ responsibility”.</li>
				</ul>
			</div>
			<div class="exhibiting__right">
				<div class="exhibiting__img exhibiting__img_clock">
					<img src="./img/clock.svg" alt="img">
				</div>
				<h4 class="exhibiting__title-bg">AS A RESULT:</h4>
				<p>Work takes </p>
				<div class="exhibiting__title-sm">2-3 times </div>
				<p>longer</p>
			</div>
		</div>
		<div class="exhibiting__bottom"> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i></div>
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->
<!-- exhibiting -->
<section class="exhibiting">
	<div class="exhibiting__wrap">
		<div class="exhibiting__serial-number"><img src="./img/02.svg" alt="img"></div>
		<div class="exhibiting__inner inner">
			<div class="exhibiting__left">
				<h3 class="exhibiting__title lg-hide">
					<span>Is your business exhibiting the following “symptoms?”</span>
					{{ mixins.icon('title-arr') }}
				</h3>
				<ul class="exhibiting__list">
					<li class="exhibiting__item">Time and money are wasted</li>
					<li class="exhibiting__item">The owner and executives end up redoing the work of their juniors, resulting in valuable time wasted on simple,low-value tasks.</li>
					<li class="exhibiting__item">Lack of coordination results in tasks being done twice, which increases company costs. </li>
				</ul>
			</div>
			<div class="exhibiting__right">
				<div class="exhibiting__img exhibiting__img_calculator">
					<img src="./img/calculator.svg" alt="img">
				</div>
				<h4 class="exhibiting__title-bg">AS A RESULT:</h4>
				<p>Wasted time can inflate the budget by </p>
				<h3 class="exhibiting__title-md">40%</h3>
			</div>
		</div>
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->
<!-- exhibiting -->
<section class="exhibiting exhibiting_padTop exhibiting_yellow">
	<div class="exhibiting__top"> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i></div>
	<div class="exhibiting__wrap">
		<div class="exhibiting__serial-number"><img src="./img/03.svg" alt="img"></div>
		<div class="exhibiting__inner inner">
			<div class="exhibiting__left">
				<h3 class="exhibiting__title lg-hide">
					<span>Is your business exhibiting the following “symptoms?”</span>
					{{ mixins.icon('title-arr') }}
				</h3>
				<ul class="exhibiting__list">
					<li class="exhibiting__item">The owner may find themselves solving the same problems and repeatedly telling employees what to do,  only to have the ball dropped again.</li>
					<li class="exhibiting__item">The owner personally explains to each employee, <br>over and over, what to do and how to get it done.</li>
					<li class="exhibiting__item">The owner often finds themselves doing routine <br>work that employees should be doing.</li>
				</ul>
				<a href="#" class="btn btn_yellow lg-hide"> <span>Register <em>Now</em></span> for this FREE Webinar</a>
			</div>
			<div class="exhibiting__right">
				<div class="exhibiting__img exhibiting__img_hourglass">
					<img src="./img/hourglass.svg" alt="img">
				</div>
				<h4 class="exhibiting__title-bg">AS A RESULT:</h4>
				<p>You, the <br>Business Owner, <br>lose up to</p>
				<div class="exhibiting__title-md">20 hours </div>
				<p>a week of your valuable time</p>
			</div>
		</div>
		<div class="exhibiting__bottom"> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i></div>
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->