<!-- begin free  -->
<div class="free" style="background-image: url(img/free.jpg);">
	<div class="free__bg">
		<div class="free__inner">
			<div class="free__box-bg"></div>
		</div>
	</div>
	<div class="free__inner">
		<div class="inner">
			<div class="free__content">
				<div class="free__title">
					<small>This is a</small>
					<strong><em>Free</em> <br>Webinar </strong>
					<span>Conducted by <em>Alexander Visotsky</em></span>
				</div>
				<div class="free__decor"><i></i></div>
			</div>
			<div class="free__box">
				<div class="free__info">
					<p>Alexander Visotsky is the author of The&nbsp;Business Owner Defined - the&nbsp;<span>BEST-SELLING BOOK</span> detailing the&nbsp;exact role and responsibilities of&nbsp;a&nbsp;business&nbsp;owner.</p>
					<p>Visotsky was featured in over&nbsp;<span>100&nbsp;publications,</span> business magazines (such as Forbes), TV&nbsp;shows&nbsp;and radio programs.</p>
					<p>Founded Visotsky Consulting, an&nbsp;international consulting firm with <span>7&nbsp;BRANCHES,</span> from Moscow and&nbsp;New&nbsp;York, and <span>160 EMPLOYEES.</span></p>
					<p>He has helped <span>2000+ BUSINESS OWNERS</span> implement the Organizational Structure Chart in their companies and&nbsp;achieve remarkable results</p>
					<div class="free__btn">
						<button class="btn btn_white" title="regpopbox_36222_f2764a033c">Register <em>Now</em> <br>for&nbsp;this <strong>FREE Webinar</strong></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end free -->