<!-- begin header  -->
<header class="header">
	<div class="header__inner">
		<div class="inner">
			<h1 class="logo">
				<a href="#">
					<img src="img/logo.jpg" alt="Visotsky">
					<span>Visotsky</span>
				</a>
			</h1>
		</div>
		<img src="img/header-bg.jpg" alt="man's photo" class="header__figure">
		<img src="img/header-bg-mobile.jpg" alt="man's photo" class="header__figure-mobile">
		<div class="inner">
			<div class="header__content">
				<div class="header__title"><span>Free</span>Webinar</div>
				<div class="header__meta">For business owners of small and mid-sized businesses with 10 (or more) employees</div>
				<div class="header__subtitle">DO YOU HAVE <em>PERSONNEL</em> PROBLEMS?</div>
				<div class="header__text">
					<p>Find out how to handle them with the right Organizational Structure!</p>
					<div class="header__decor decor"></div>
				</div>
			</div>
			<div class="header__structure"></div>
			<div class="header__people"></div>
		</div>
		<!-- <div style="margin: 40px 0 0;text-align: center;">
			<div class="embedded-joinwebinar-button">
				<button class="btn btn_yellow-bg" title="regpopbox_36222_f2764a033c">Register for this <span>FREE webinar</span></button>
			</div>
		</div> -->
	</div>
</header>
<!-- end header -->