<!-- begin lesson  -->
<div class="lesson">
	<div class="lesson__inner">
		<div class="lesson__bg">
			<div class="inner">
				<div class="lesson__content">
					<div class="lesson__title">Learn how</div>
					<div class="lesson__number">400+</div>
					<div class="lesson__subtitle">companies</div>
					<div class="lesson__text">have defeated the internal inefficiencies stumping their progress and&nbsp;reached new levels of growth, productivity and&nbsp;profitability using just&nbsp;one essential management tool -</div>
					<div class="lesson__meta">the Organizational  Structure Chart</div>
				</div>
				<div class="lesson__frame">
					<div class="lesson__video">
						<video src="video/video.mp4" type="video/mp4" controls="true"></video>
					</div>
					<div class="lesson__btn">
						<button class="btn btn_yellow" title="regpopbox_36222_f2764a033c"> <span>Register <em>Now</em></span> for this FREE Webinar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="lesson__bottom"></div>
	</div>
</div>
<!-- end lesson -->