<!-- begin lil-info  -->
<div class="lil-info">
	<div class="lil-info__inner">
		<div class="lil-info__figure">
			<img src="img/lil-info-desktop.jpg" alt="/" class="lil-info__img lil-info__img-desktop">
			<img src="img/lil-info-mobile.jpg" alt="/" class="lil-info__img lil-info__img-mobile">
			{{mixins.icon('exclamation')}}
		</div>
		<div class="inner">
			<div class="lil-info__content">
				<div class="lil-info__text lil-info__top">If you answered <em>“YES”</em> to&nbsp;any of&nbsp;these questions</div>
				<div class="lil-info__box">You may be robbing your company of&nbsp;its&nbsp;full potential</div>
				<div class="lil-info__text lil-info__main">In fact, many business owners succumb to these challenges simply by not having effective tools to overcome them.</div>
				<div class="lil-info__meta">
					<div class="lil-info__meta-text">UNTIL NOW</div>
					<div class="lil-info__decor decor"><i></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end lil-info -->