<!-- begin show  -->
<div class="show">
	<div class="inner">
		<div class="show__title"><em>This webinar will show you how</em> an organizational structure chart can solve these problems and many more</div>
		<div class="decor show__decor"></div>
		<div style="width:300px;max-width: 100%;">
			<div class="embedded-joinwebinar-button">
				<button type="button" class="btn btn-default css3button" title="regpopbox_36222_f2764a033c"><span>Register now</span></button>
			</div>
		</div>
	</div>
</div>
<!-- end show -->