<!-- begin team  -->
<div class="team">
	<div class="inner">
		<div class="team__members">
			{% set slider = [
				{
					img: 'slide1.png',
					user: 'Sergey <em>Peshin</em>',
					meta: 'Food products distribution <br>178 employees',
					title: '<div>THE COMPANY GROWS <br>AND OPERATES WITHOUT MY HELP</div>',
					before: [
						'<strong>$7.9 million</strong> annual income',
						'255 Employees',
						'“Sank” a lot of money into&nbsp;consultants but&nbsp;ended&nbsp;up with nothing&nbsp;to&nbsp;show for it'
					],
					after: [
						'<strong>$11.9 million</strong> annual income',
						'178 Employees',
						'Rapid employee turnover at&nbsp;the&nbsp;company ended and&nbsp;employee motivation&nbsp;increased'
					],
					afterClass: 'slide__after_small'
				},
				{
					img: 'slide2.png',
					user: 'Andrey <em>Feklistov</em>',
					meta: 'Wholesale construction materials',
					title: '<small>THE RESULTS SPEAK FOR THEMSELVES. THE BUSINESS HAS BECOME TRULY CONSISTENT AND PROFITABLE. THE COMPANY IMPROVED SIGNIFICANTLY IN TERMS OF QUALITY AND ORGANIZATION. HE HAD COMPLETED VARIOUS COURSES IN FAMOUS COMPANIES BUT WAS UNABLE TO INTRODUCE TECHNICAL MANAGEMENT OR TO SYSTEMATIZE THE BUSINESS.</small>',
					before: [
						'Staff of 15',
						'Employees&nbsp;failed to&nbsp;take responsibility',
						'He was bogged down&nbsp;in&nbsp;day-to-day work'
					],
					after: [
						'Staff of 34',
						'Profit rose by 43% from 2013 to 2014',
						'He has time for his family & himself, not to mention charity work as well!',
						'Executives and employees take responsibility for their work'
					]
				},
				{
					img: 'slide3.png',
					user: 'Boris <em>Knyazev</em>',
					meta: 'Owner of 10 businesses',
					title: '<small>I HAD TO SELL SOME OF MY BUSINESSES IN ORDER TO COVER “GAPS.” THANKS TO THE BUSINESS OWNERS PROGRAM, MY COMPANY NOW HAS EMPLOYEES WHO KNOW AND SHARE MY POINT OF VIEW. THESE ARE THE PEOPLE WHO ARE ORIENTED TOWARDS AN OUTCOME CLEARLY FORMULATED IN THE TARGETS AND OBJECTIVES OF EACH OF MY COMPANIES.</small>',
					before: [
						'Worked from 8 AM to midnight and only took a 1 hour nap&nbsp;in&nbsp;the afternoons',
						'Accumulated debt and interest owed - <em>$850k</em>'
					],
					after: [
						'He has time to do community service as well as educational lectures for youth.',
						'Accumulated debt and interested lowered to - <em>$460k</em>'
					],
					beforeClass: 'slide__before_lg',
					afterClass: 'slide__after_md',
					decor: 'slide__decor_center'
				}
			] %}
			<div class="slider js-slider">
				{% for slide in slider %}
					<div class="slide">
						<div class="slide__figure">
							<img src="img/{{slide.img}}" alt="/">
						</div>
						<div class="slide__content">
							<div class="slide__user">{{slide.user | safe}}</div>
							<div class="slide__meta">{{slide.meta | safe}}</div>
							<div class="slide__title">
								{{mixins.icon('quotes')}}
								{{mixins.icon('quotes-end')}}
								{{slide.title | safe}}
							</div>
							<div class="slide__box">
								<div class="slide__decor {{slide.decor}}"><div class="decor"></div></div>
								<div class="slide__bg">
									<div class="slide__bg-in">
										<div class="slide__before {{slide.beforeClass}}">
											<div class="slide__label slide__label_yellow">Before:</div>
											<ul class="slide__list slide__list_yellow">
												{% for item in slide.before %}
													<li class="slide__item">{{item | safe}}</li>
												{% endfor %}
											</ul>
										</div>
										<div class="slide__after {{slide.afterClass}}">
											<div class="slide__label slide__label_white">After:</div>
											<ul class="slide__list slide__list_white">
												{% for item in slide.after %}
													<li class="slide__item">{{item | safe}}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="slide__footer">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end team -->